body {
  background: #E4E4E4;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #0288D1;
}

h2 {
  margin-bottom: 4px;
  font-size: 1.17em;
}

nav {
  position: fixed;
  background: #FFFFFF;
  height: 100vh;
  width: 120px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav .header h1 {
  font-size: 1.5em;
}

nav #email {
  font-size: .70em;
}

nav #nav {
  line-height: 50px;
  margin-top: 20%;
}

nav #social-media {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.main {
  margin-left: 120px;
}

header {
  height: auto;
  margin: 0;
  padding: 50px;
  background-color: #2080b0;
}

img {
  height: auto;
}

.card {
  background: #FFFFFF;
  padding: 15px 25px 35px 25px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.26);
  border-radius: 1px;
  height: 80%;
}

.card .featured-text {
  padding: 10px 30px;
}

.card .featured-text hr {
  margin-top: 10px;
  margin-bottom: 15px;
}

.cv-download {
  background-color: #2B6A9C;
  text-align: center;
  height: auto;
  padding: 30px;
}

.cv-download button {
  width: 100%;
  max-width: 400px;
  height: auto;
  font-size: 19px;
}

footer {
  background-color: #171717;
  height: 40px;
}

.featured {
  margin-right: 15%;
  margin-left: 15%;
}

.clearfix {
  overflow: auto;
}