body {
  background: #E4E4E4;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #0288D1;
}

h2 {
  margin-bottom: 4px;
  font-size: 1.17em;
}

nav {
  position: fixed;
  background: #FFFFFF;
  height: 100vh;
  width: 120px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav .header {
  font-size: 1.5em;
}
nav #email {
  font-size: .70em;
}

nav ul {
  line-height: 50px;
}

nav #social-media {
  position: absolute;
  bottom: 10px;
  left: 15px
}

main {
  margin-left: 120px;
  padding: 0;
  height: 100vh;
}

header {
  height: auto;
  margin: 0;
  padding: 50px;
  background-color: #2080b0;
}

.card {
  background: #FFFFFF;
  padding: 15px 25px 35px 25px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.26);
  border-radius: 1px;
  height: 80%;
  margin: 30px auto;
}
.card .featured-text {
  padding:10px 30px;
}

.card .featured-text hr {
  margin-top: 10px;
  margin-bottom: 15px;
}
#cv-download {
  text-align: center;
  height: auto;
}
#cv-download button{
  width: 100%;
  max-width: 400px;
  height: auto;
  font-size: 19px;
}
footer {
  background-color: #2B6A9C;
  height: auto;
  padding: 30px;
}
footer #social-media {
  display: none;
}

.featured {
  margin-right: 7%;
  margin-left: 7%;
}

.clearfix {
  overflow: auto;
}

@media (max-width:960px) {
  nav {
    display: none;
  }
  main {
    margin-left: auto;
  }
  footer #social-media {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  footer .social-media-icon {
    margin: auto 10px;
    height: 30px;
  }
  footer .social-media-icon:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  header {
    padding: 10px 0;
  }
}
