<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Mikel Severson's Portfolio</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Mikel Severson's portfolio">
  <meta name="author" content="Mikel Severson" />
  <meta name="theme-color" content="#0288D1" />
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/stylesheet.css" />
  <link rel="icon" type="image/png" href="images/favicon.ico" />
</head>

<body>
  <nav>
    <section class="header">
        <h1>Mikel Severson</h1>
    </section>

    <section id="nav">
      <a href="#" title="Home">Home</a><br />
        <a href="#" title="portfolio">Portfolio</a><br />
    </section>

    <section id="social-media">
        <a href="https://www.linkedin.com/in/mikelseverson" data-toggle="tooltip" title="LinkedIn">
            <img class="social-media-icon" src="images/linkedin.png" alt="linkedin"></a>
        <a href="http://www.twitter.com/mksev" data-toggle="tooltip" title="Twitter">
            <img class="social-media-icon" src="images/twitter.png" alt="Twitter"></a>
        <a href="http://www.github.com/mikelseverson" data-toggle="tooltip" title="Github">
            <img class="social-media-icon" src="images/github.png" alt="github"></a>
    </section>
  </nav>

  <main>
      <header>
        <section class="card featured clearfix">
            <div class="featured-text">
                <h1>Hi I'm Mikel,</h1>
                <hr/>
                <p>My goal is to help businesses integrate cutting edge technologies to increase customer engagement, improve workflows, and find new ways to provide value to customers. </p>
                <p>Web Application Developer, Inbound Marketer, and Entrepreneur.</p>
            </div>
        </section>
      </header>

      <section class="content-section">
        <div class="container-fluid">
          <br />
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="card">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="card">
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </section>
  </main>

  <footer class="cv-download">
    <button class="btn btn-primary">Download my CV</button>
  </footer>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="scripts/app.js"></script>

</body>

</html>
